.DS_Store
.ipynb_checkpoints/
letters_grouped_eng_from_1950/
letters_grouped_fre_from_1950/
letters_grouped_ita_all_years/
letters_grouped_ita_from_1950/
eng_from_1950.csv
fre_from_1950.csv
ita_from_1950.csv
